/*
 ================ SASS IMPORTS ================
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------ Noto Sans -------*/
/*------ DDC Hardware Compressed -------*/
@font-face {
  font-family: 'ddc_hardwarecompressed';
  src: url("ddchardware-compressed-webfont.woff2") format("woff2"), url("ddchardware-compressed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*
 ================ COLORS ================
*/
/*
 ================ TYPOGRAPHY ================
*/
/*
 ================ LINES ================
*/
/*
* === BACKGROUND IMAGES ===
*/
.grid-container {
  padding-top: 60px;
  display: grid;
  grid-template-rows: repeat(3, [row] auto);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "hero-light hero-dark hero-dark hero-dark" "hero-light hero-dark hero-dark hero-dark" "solomon solomon machine-madness machine-madness" "sheldon mizzou-tennis mizzou-tennis mizzou-tennis" "sheldon mizzou-tennis mizzou-tennis mizzou-tennis" "scsu-link scsu-link logos green-wing" "scsu-link scsu-link mizzou-cc mizzou-cc"; }

.hero-light {
  grid-area: hero-light; }

.hero-dark {
  grid-area: hero-dark; }

.name {
  width: 60%;
  margin: 20% 0;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  place-self: center;
  z-index: 50; }

.title {
  grid-column: 3 / 6;
  grid-row: 1 / 2;
  align-self: center;
  color: white;
  z-index: 51; }

.solomon {
  grid-area: solomon;
  background: url("../img/Solomon-Corp-Thumbnail@2x.jpg") no-repeat center center;
  background-size: cover; }

.machine-madness {
  grid-area: machine-madness;
  background: url("../img/Machine-Madness-Thumbnail@2x.jpg") no-repeat center center;
  background-size: cover; }

.logos {
  grid-area: logos;
  background: orange; }

.green-wing {
  grid-area: green-wing;
  background: url("../img/Green-Wing-Thumbnail@2x.jpg") no-repeat center center;
  background-size: cover; }

.sheldon {
  grid-area: sheldon;
  background: url("../img/Sheldon-Theatre-Thumbnail@2x.jpg") no-repeat center center;
  background-size: cover; }

.mizzou-tennis {
  grid-area: mizzou-tennis;
  background: url("../img/MIZZOU-Tennis-Thumbnail@2x.jpg") no-repeat center center;
  background-size: cover; }

.mizzou-cc {
  grid-area: mizzou-cc;
  background: url("../img/MIZZOU-CC-Thumbnail@2x.jpg") no-repeat center center;
  background-size: cover; }

.scsu-link {
  grid-area: scsu-link;
  background: url("../img/The-Link-Thumbnail@2x.jpg") no-repeat center center;
  background-size: cover; }

/*
 ================ ABOUT PAGE ================
*/
.about-grid-container {
  padding-top: 50px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "hero-light hero-light hero-light hero-dark" "hero-light hero-light hero-light hero-dark"; }
  .about-grid-container .name {
    width: 50%;
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    place-self: center;
    z-index: 50; }

/*
 ================ CONTACT PAGE ================
*/
.contact-grid-container {
  padding-top: 50px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "hero-light hero-dark hero-dark hero-dark" "hero-light hero-dark hero-dark hero-dark"; }
  .contact-grid-container .name {
    width: 50%;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    place-self: center;
    z-index: 50; }

/*
 ================ BREAKPOINTS ================
*/
@media only screen and (max-width: 959px) {
  .grid-container {
    display: grid;
    grid-auto-rows: minmax(250px, 300px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "hero-light hero-dark" "hero-light hero-dark" "solomon solomon" "machine-madness machine-madness" "sheldon mizzou-tennis" "scsu-link scsu-link" "logos green-wing" "mizzou-cc mizzou-cc"; }
  .name {
    max-width: 500px;
    width: 50%;
    margin: 10% 0;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    place-self: center;
    z-index: 50; }
  .title {
    grid-area: title;
    padding: 2%;
    grid-column: 1 / span 2;
    grid-row: 2;
    align-self: center;
    text-align: center;
    color: white;
    background: #a8854a;
    z-index: 51; }
  .about-grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "hero-light hero-light" "hero-light hero-light"; }
  .contact-grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "hero-dark hero-dark" "hero-dark hero-dark"; }
    .contact-grid-container .name {
      display: none; } }

@media only screen and (max-width: 599px) {
  .grid-container {
    display: grid;
    grid-auto-rows: minmax(150px, 200px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "hero-light hero-dark" "hero-light hero-dark" "solomon solomon" "logos logos" "green-wing green-wing" "sheldon mizzou-tennis" "mizzou-tennis mizzou-tennis"; }
  .name {
    width: 50%;
    margin: 15% 0; } }

.nav-bar {
  width: 100%;
  position: fixed;
  background: #13313c;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  z-index: 50000;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav-bar ul {
    padding: 0;
    margin: 0; }
    .nav-bar ul a {
      border-right: 1px solid #a8854a; }
      .nav-bar ul a:nth-child(3) {
        border-right: 0px; }
    .nav-bar ul li {
      display: inline-block;
      padding: 5px 20px;
      line-height: 1;
      font: 1.25em "ddc_hardwarecompressed", Arial, sans-serif;
      letter-spacing: .05em;
      color: white; }

.nav-logo {
  padding: 10px;
  font: 34px "ddc_hardwarecompressed", Arial, sans-serif;
  color: #a8854a;
  text-decoration: none; }
  .nav-logo span {
    color: #e0e0e0; }

.menu-button {
  display: none;
  margin-right: 10px; }

@media only screen and (max-width: 599px) {
  .nav-bar ul {
    padding-right: 5px; }
    .nav-bar ul li {
      padding: 5px 10px; } }

/*
 ================ GENERAL ================
*/
a {
  text-decoration: none; }

h1, h2, h3, h4, h4, h6 {
  font-family: "ddc_hardwarecompressed", Arial, sans-serif;
  letter-spacing: .05em; }

h2 {
  font: 2em/0.9em "ddc_hardwarecompressed", Arial, sans-serif;
  color: #6e8b9a;
  margin-bottom: 5px; }

h3 {
  font: 1.5em "ddc_hardwarecompressed", Arial, sans-serif;
  color: #6e8b9a; }

h4 {
  font-size: 1em; }

p {
  color: #13313c;
  font: 1em/1.5em "Noto Sans", sans-serif;
  margin-bottom: 15px; }

ul {
  margin-bottom: 15px; }

li {
  color: #13313c;
  font: 1em/1.5em "Noto Sans", sans-serif;
  list-style-type: disc; }

/*
 ================ HOME PAGE ================
*/
.title h2 {
  margin: 0;
  text-transform: uppercase;
  font: 2.5em "Noto Sans", sans-serif;
  color: white; }

.title h3 {
  font: 1.5em "Noto Sans", sans-serif;
  color: rgba(255, 255, 255, 0.5); }

.hero-light {
  background: #e0e0e0; }

.hero-dark {
  background: #13313c; }

.project {
  min-height: 270px; }

.project-info {
  opacity: 0;
  background: rgba(19, 49, 60, 0.7);
  font-size: 2em;
  text-align: center;
  color: white; }
  .project-info p {
    margin-top: -4px;
    font: 1em "Noto Sans", sans-serif;
    color: white; }

.project-info:hover {
  opacity: 1; }

/*
 ================ PROJECT PAGE ================
*/
.project-sidebar {
  width: 25%;
  min-height: 100vh;
  background: #e0e0e0;
  position: fixed;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; }

.project-description {
  align-self: center; }

.project-footer {
  width: 100%;
  color: #b3b9c2;
  font: 1.25em "ddc_hardwarecompressed", Arial, sans-serif;
  letter-spacing: .05em;
  text-align: right; }

.nav-back {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #b3b9c2; }

.details-toggle {
  display: none; }

main {
  padding: 30px 0 0 25%;
  width: 100%; }
  main img {
    width: 100%; }

/*
 ================ ABOUT PAGE ================
*/
.lists {
  display: flex;
  align-items: flex-start; }

.two-col-list {
  margin: 10px 20px 0 0;
  width: 50%;
  display: inline-block; }

.about {
  width: 60%;
  margin: 15% 10% 0; }
  .about li {
    margin-left: 18px; }

/*
 ================ CONTACT PAGE ================
*/
.contact {
  width: 60%;
  margin: 10% 30%; }
  .contact h2 {
    margin-bottom: 0;
    font-size: 1.5em;
    color: #a8854a; }
  .contact form {
    padding-top: 30px;
    border-top: 1px solid #a8854a;
    width: 100%; }
    .contact form label, .contact form input, .contact form textarea {
      display: block;
      width: 100%; }
    .contact form label {
      font: 1.5em "ddc_hardwarecompressed", Arial, sans-serif;
      color: #a8854a; }
    .contact form input, .contact form textarea {
      margin-bottom: 25px;
      padding: 12px;
      background: none;
      border: 2px solid #6e8b9a;
      color: white;
      font: 1em/1.5em "Noto Sans", sans-serif; }
    .contact form button {
      margin-top: 10px;
      padding: 12px 30px;
      color: white;
      font: 1.5em "ddc_hardwarecompressed", Arial, sans-serif;
      letter-spacing: .05em;
      background: #6e8b9a;
      border: 0px; }

.contact-info {
  margin-bottom: 15px; }

.contact-item {
  display: inline-block;
  margin-right: 30px; }
  .contact-item p {
    color: white; }

.contact-icon {
  display: inline-block;
  width: 40px;
  margin-right: 8px; }

.contact-type {
  display: inline-block; }

/*
 ================ BREAKPOINTS ================
*/
@media only screen and (max-width: 959px) {
  h2 {
    font: 1.5em "ddc_hardwarecompressed", Arial, sans-serif;
    margin-bottom: 0; }
  .title h2 {
    font: 1.75em "Noto Sans", sans-serif; }
  .title h3 {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.5);
    margin: -6px 0 5px; }
  .project-sidebar {
    width: 100%;
    min-height: auto;
    padding: 15px;
    position: fixed;
    bottom: 0; }
  .project-description {
    display: block;
    padding: 10px 0 30px; }
  .nav-back {
    bottom: 15px;
    left: 15px; }
  .details-toggle {
    display: inline-block;
    cursor: pointer; }
  main {
    padding-left: 0; }
  .about, .contact {
    width: 80%;
    margin: 10% 10% 50px; } }

@media only screen and (max-width: 599px) {
  .about, .contact {
    margin-top: 55px; }
  .contact-item {
    display: block;
    margin: 0px 0px 10px; } }
