/*
 ================ SASS IMPORTS ================
*/

@import 'scss/reset';
@import 'scss/fonts';
@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/grid';
@import 'scss/navigation';




/*
 ================ GENERAL ================
*/

a {
	text-decoration: none;
}

h1, h2, h3, h4, h4, h6 {
	font-family: $ddc-font;
	letter-spacing: .05em;
}


h2 {
	font: 2em/.9em $ddc-font;
	color: $lightblue;
	margin-bottom: 5px;
}



h3 {
	font: 1.5em $ddc-font;
	color: $lightblue;
}

h4 {
	font-size: 1em;
}

p {
	color: $darkblue;
	font: 1em/1.5em $body-font;
	margin-bottom: 15px;
}

ul {
	margin-bottom: 15px;
}

li {
	color: $darkblue;
	font: 1em/1.5em $body-font;
	list-style-type: disc;
	// list-style-image: url(img/bullet.png);
	// list-style-image: url(img/bullet.png);
}





/*
 ================ HOME PAGE ================
*/

.title {
	h2 {
		margin: 0;
		text-transform: uppercase;
		font: 2.5em $body-font;
		color: white;
	}

	h3 {
		font: 1.5em $body-font;
		color: rgba(255, 255, 255, .5);
	}
}

.hero-light {
	background: $lightgray;
}

.hero-dark {
	background: $darkblue;
}

.project {
	// height: 35vh;
	min-height: 270px;
}

.project-info {
	opacity: 0;
	background: rgba($darkblue, .7);
	font-size: 2em;
	text-align: center;
	color: white;

	p {
		margin-top: -4px;
		font: 1em $body-font;
		color: white;
	}
}

.project-info:hover {
	opacity: 1;
}









/*
 ================ PROJECT PAGE ================
*/

.project-sidebar {
	width: 25%;
	min-height: 100vh;
	background: $lightgray;
	position: fixed;
	padding: 0 30px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

.project-description{
	align-self: center;
}

.project-footer {
	width: 100%;
	color: $gray;
	font: 1.25em $ddc-font;
	letter-spacing: .05em;
	text-align: right;
}

.nav-back {
	position: absolute;
	bottom: 30px;
	left: 30px;
	color: $gray;
}

.details-toggle {
	display: none;
}


main {
	padding: 30px 0 0 25%;
	width: 100%;

	img {
		width: 100%;
	}
}




/*
 ================ ABOUT PAGE ================
*/

.lists {
	display: flex;
	align-items: flex-start;
}

.two-col-list {
	margin: 10px 20px 0 0;
	width: 50%;
	display: inline-block;
}

.about {
	width: 60%;
	margin: 15% 10% 0;

	li {
		margin-left: 18px;
	}

}





/*
 ================ CONTACT PAGE ================
*/

.contact {
	width: 60%;
	margin: 10% 30%;

	h2 {
		margin-bottom: 0;
		font-size: 1.5em;
		color: $gold;
	}

	form {
		padding-top: 30px;
		border-top: $line-break;
		width: 100%;

		label, input, textarea {
			display: block;
			width: 100%;
		}

		label {
			font: 1.5em $ddc-font;
			color: $gold;
		}

		input, textarea {
			margin-bottom: 25px;
			padding: 12px;
			background: none;
			border: 2px solid $lightblue;
			color: white;
			font: 1em/1.5em $body-font;

			// &:focus {
			// 	background: rgba(0, 0, 0, .1);
			// }
		}
		button {
			margin-top: 10px;
			padding: 12px 30px;
			color: white;
			font: 1.5em $ddc-font;
			letter-spacing: .05em;
			background: $lightblue;
			border: 0px;

		}
	}
}

.contact-info {
	margin-bottom: 15px;
}


.contact-item {
	display: inline-block;
	margin-right: 30px;

	p {
		color: white;
	}
}

.contact-icon {
	display: inline-block;
	width: 40px;
	margin-right: 8px;
}

.contact-type {
	display: inline-block;
}












/*
 ================ BREAKPOINTS ================
*/

@media only screen and (max-width: 959px){

	h2 {
		font: 1.5em $ddc-font;
		margin-bottom: 0;
	}


	.title {
		h2 {
			font: 1.75em $body-font;
		}

		h3 {
			font-size: 1em;
			color: rgba(255, 255, 255, .5);
			margin: -6px 0 5px;
		}
	}




	.project-sidebar {
		width: 100%;
		min-height: auto;
		padding: 15px;
		position: fixed;
		bottom: 0;
	}

	.project-description {
		display: block;
		padding: 10px 0 30px;
	}

	.nav-back {
		bottom: 15px;
		left: 15px;
	}

	.details-toggle {
		display: inline-block;
		cursor: pointer;
	}


	main {
		padding-left: 0;
	}



	.about, .contact {
		width: 80%;
		margin: 10% 10% 50px; ;
	}

}



@media only screen and (max-width: 599px){

	.about, .contact {
		margin-top: 55px;
	}

	.contact-item {
		display: block;
		margin: 0px 0px 10px;
	}
}
