/*------ Noto Sans -------*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

/*------ DDC Hardware Compressed -------*/
@font-face {
    font-family: 'ddc_hardwarecompressed';
    src: url('ddchardware-compressed-webfont.woff2') format('woff2'),
         url('ddchardware-compressed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
