.grid-container {
	padding-top: 60px;
	display: grid;
	grid-template-rows: repeat(3, [row] auto  );
	grid-template-columns: repeat(4, 1fr);
  	grid-template-areas:
    	"hero-light hero-dark hero-dark hero-dark"
		"hero-light hero-dark hero-dark hero-dark"
		"solomon solomon machine-madness machine-madness"
		"sheldon mizzou-tennis mizzou-tennis mizzou-tennis"
		"sheldon mizzou-tennis mizzou-tennis mizzou-tennis"
		"scsu-link scsu-link logos green-wing"
		"scsu-link scsu-link mizzou-cc mizzou-cc";
}




.hero-light {
	grid-area: hero-light;
}

.hero-dark {
	grid-area: hero-dark;
}

.name {
	width: 60%;
	margin: 20% 0;
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	place-self: center;
	z-index: 50;
	// background: red;
}

.title {
	// padding-left: 20px;
	grid-column: 3 / 6;
	grid-row: 1 / 2;
	align-self: center;
	color: white;
	z-index: 51;
}

.solomon {
	grid-area: solomon;
	@include background('../img/Solomon-Corp-Thumbnail@2x.jpg');
}

.machine-madness {
	grid-area: machine-madness;
	@include background('../img/Machine-Madness-Thumbnail@2x.jpg');
}

.logos {
	grid-area: logos;
	background: orange;
}

.green-wing {
	grid-area: green-wing;
	@include background('../img/Green-Wing-Thumbnail@2x.jpg');
}

.sheldon {
	grid-area: sheldon;
	@include background('../img/Sheldon-Theatre-Thumbnail@2x.jpg');
}

.mizzou-tennis {
	grid-area: mizzou-tennis;
	@include background('../img/MIZZOU-Tennis-Thumbnail@2x.jpg');
}

.mizzou-cc {
	grid-area: mizzou-cc;
	@include background('../img/MIZZOU-CC-Thumbnail@2x.jpg');
}

.scsu-link {
	grid-area: scsu-link;
	@include background('../img/The-Link-Thumbnail@2x.jpg');
}



/*
 ================ ABOUT PAGE ================
*/

.about-grid-container {
	padding-top: 50px;
	min-height: 100vh;
	display: grid;
	grid-template-rows: repeat(2, 1fr );
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		"hero-light hero-light hero-light hero-dark"
		"hero-light hero-light hero-light hero-dark";

	.name {
		width: 50%;
		grid-column: 3 / span 2;
		grid-row: 1 / span 2;
		place-self: center;
		z-index: 50;
	}

}




/*
 ================ CONTACT PAGE ================
*/

.contact-grid-container {
	padding-top: 50px;
	min-height: 100vh;
	display: grid;
	grid-template-rows: repeat(2, 1fr );
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		"hero-light hero-dark hero-dark hero-dark"
		"hero-light hero-dark hero-dark hero-dark";

	.name {
		width: 50%;
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
		place-self: center;
		z-index: 50;
	}

}










/*
 ================ BREAKPOINTS ================
*/


@media only screen and (max-width: 959px){


	.grid-container {
		display: grid;
		grid-auto-rows: minmax(250px, 300px);
		grid-template-columns: repeat(2, 1fr);
	  	grid-template-areas:
	    	"hero-light hero-dark"
			"hero-light hero-dark"
			"solomon solomon"
			"machine-madness machine-madness"
			"sheldon mizzou-tennis"
			"scsu-link scsu-link"
			"logos green-wing"
			"mizzou-cc mizzou-cc";
	}

	.name {
		max-width: 500px;
		width: 50%;
		margin: 10% 0;
		grid-column: 1 / 3;
		grid-row: 1 / 2;
		place-self: center;
		z-index: 50;
	}

	.title {
		grid-area: title;
		padding: 2%;
		grid-column: 1 / span 2;
		grid-row: 2;
		align-self: center;
		text-align: center;
		color: white;
		background: $gold;
		z-index: 51;

	}

	.about-grid-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			"hero-light hero-light"
			"hero-light hero-light";
	}


	.contact-grid-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			"hero-dark hero-dark"
			"hero-dark hero-dark";

		.name {
			display: none;
		}

	}


}




@media only screen and (max-width: 599px){


	.grid-container {
		display: grid;
		grid-auto-rows: minmax(150px, 200px);
		grid-template-columns: repeat(2, 1fr);
	  	grid-template-areas:
	    	"hero-light hero-dark"
			"hero-light hero-dark"
			"solomon solomon"
			"logos logos"
			"green-wing green-wing"
			"sheldon mizzou-tennis"
			"mizzou-tennis mizzou-tennis";
	}

	.name {
		width: 50%;
		margin: 15% 0;
	}

}
